@model SeaMonsterBlog.UI.Models.DashboardVM

@{
    ViewBag.Title = "Dashboard";
    ViewBag.Categories = Model.Categories;
    ViewBag.StaticPosts = Model.StaticPosts;
    ViewBag.SearchString = Model.SearchString;
}

<div>
    @if (Request.IsAuthenticated && User.IsInRole("admin"))
        {
        <h2>Post Awaiting Approval</h2>
        <div class="row">
            <div class="col-md-9">
                <table class="table" style="background: #d6e9cb;border-radius:3px">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var p in Model.PostsUnderReview)
                        {
                            <tr>
                                <td><a style="color:firebrick" href="~/admin/review/@p.PostId">@p.PostTitle</a></td>
                                <td><a style="color:firebrick" href="~/home/byAuthor/@p.Author"> @p.Author</a></td>
                                <td> @p.DateCreated.ToString("MM/dd/yyyy")</td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                @using (Html.BeginForm("Dashboard", "Admin", FormMethod.Post, new { id = "addCategory" }))
                {
                    <div class="form-group">
                        <label for="NewCategory">Add New Category</label>
                        @Html.TextBoxFor(m => m.NewCategory, new { @class = "form-control" })
                    </div>
                    <div class="form-group">
                        <label for="DeleteCategory">Delete Existing Category</label>
                        @Html.DropDownListFor(m => m.DeleteCategory, Model.CategoryPickList, new { @class = "form-control" })
                    </div>
                    <input type="submit" value="Save" class="btn btn-default" id="save-button">

                 }
            </div>
            </div>
    }

    <br />
    @if (Request.IsAuthenticated && User.IsInRole("admin") || Request.IsAuthenticated && User.IsInRole("moderator"))
    {
        <h2>Posts With Pending Comments</h2>
        <table class="table" style="background: #d6e9cb;border-radius:3px">
            <thead>
                <tr>
                    <th>Title</th>
                    <th># Pending</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model.PostsPendingComments)
                {
                    <tr>
                        <td><a style="color:firebrick" href="~/home/detail/@p.PostId">@p.PostTitle</a></td>
                        <td>@p.NumberOfUnapprovedComments</td>
                    </tr>
                }

            </tbody>
        </table>
    }
</div>
