<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")



</head>
<body class="container" style="padding-top:0px">
    <div class="jumbotron" style="background-image:url(/images/banner.jpg);background-size:cover;padding-bottom:10px;margin-bottom:0px;height:280px"></div>
    
    <div class="row">

        <div class="navbar navbar-header navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown">
                                Categories
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                @foreach (var category in ViewBag.Categories)
                                {
                                    <li>@Html.ActionLink((string)@category.CategoryTag, "ByCategory", "Home", new { id = category.CategoryID }, null)</li>
                                }
                            </ul>

                        </li>
                        <li>@Html.ActionLink("Authors", "ByAuthor/1", "Home")</li>
                    </ul>
                </div>
            </div>
        </div>


<div class="row">
        <div class="container body-content col-sm-9">
            <div class="col-sm-12">
                @RenderBody()

                <footer>
                    <p>&copy; @DateTime.Now.Year - CMonster Web Design</p>
                </footer>
            </div>
        </div>

        <div class="container col-sm-3" style="background: #d6e9cb;border-radius:3px;padding-bottom:25px;padding-top:25px">
            <div class="container col-sm-12">
                    <div class="input-group">
                        <input class="form-control" placeholder="Search by Title" id="search-term" type="text" >
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" onclick="executeSearch()"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
               
                
                    <ul class="nav nav-pills nav-stacked">
                        @if ((Request.IsAuthenticated && User.IsInRole("admin")) || (Request.IsAuthenticated && User.IsInRole("moderator")))
                        {
                            <li>@Html.ActionLink("Create New", "Create", "Admin", null, new { @class = "btn btn-warning", style = "font-size:26px" })</li>
                            <li> @Html.ActionLink("My Dashboard", "Dashboard", "Admin", null, new { @class = "btn btn-warning", style = "font-size:26px" })</li>
                        }
                        @foreach (var p in ViewBag.StaticPosts)
                        {
                            if (Request.IsAuthenticated && User.IsInRole("admin"))
                            {
                                <li class="btn btn-warning"><a href="~/admin/edit/@p.PostId" style="padding-top:0px;padding-bottom:0px"><h5 style="font-size:26px;color:white">@p.PostTitle</h5></a></li>
                            }
                            else
                            {
                                <li class="btn btn-warning"><a href="~/home/detail/@p.PostId" style="padding-top:0px;padding-bottom:0px"><h5 style="font-size:26px;color:white">@p.PostTitle</h5></a></li>
                            }
                        }
                    </ul>
                
                
            </div>
            
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


<script>
    $(document).ready(function () {

    });

    function executeSearch() {
        var searchstring = $('#search-term').val()
        window.location.replace("/home/searchResults/" + searchstring);
    }
</script>
