@model SeaMonsterBlog.UI.Models.ByAuthorCategoryVM


@{
    ViewBag.Title = "ByAuthor";
    ViewBag.Categories = Model.Categories;
    ViewBag.StaticPosts = Model.StaticPosts;
    ViewBag.SearchString = Model.SearchString;
}


<h2>Blogs written by @Model.AuthorName</h2>

<div class="row">
    @using (Html.BeginForm("ByAuthor", "Home", FormMethod.Post))
    {
        <div class="col-md-4 col-md-offset-8">
            <div class="from-group">
                <label>Category</label>
                @Html.DropDownListFor(c => c.AuthorName, Model.AuthorsSelectList, new { @class = "form-control" })
            </div>
            <button class="btn btn-warning">Select Author</button>
        </div>
    }
</div>

<div class="row">
    <div class="col-md-10">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Cateogory</th>
                    <th scope="col">Date Published</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Posts != null)
                {
                    foreach (var row in Model.Posts)
                    {
                        <tr>
                            <td>@row.PostTitle</td>
                            <td>@row.SelectedCategories</td>
                            <td>@row.DisplayDate</td>
                            <td>@Html.ActionLink("View", "Detail", "Home", new { id = row.PostId }, new { @class = "btn btn-warning" })</td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
