@model SeaMonsterBlog.UI.Models.ByAuthorCategoryVM


@{
    ViewBag.Title = "ByCategory";
    ViewBag.Categories = Model.Categories;
    ViewBag.StaticPosts = Model.StaticPosts;
}


<h2>Blogs in the @Model.Category.CategoryTag Category</h2>

<div class="row">
    @using (Html.BeginForm("ByCategory", "Home", FormMethod.Post))
    {
        <div class="col-md-4 col-md-offset-8">
            <div class="from-group">
                <label>Category</label>
                @Html.DropDownListFor(c => c.CategoryId, Model.CategoriesSelectList, new { @clas = "form-control" })
            </div>
            <button class="btn btn-warning">Select Category</button>
        </div>
    }
</div>


<div class="row">
    <div class="col-md-10">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Author</th>
                    <th scope="col">Date Published</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var row in Model.Posts)
                {
                    <tr>@row.PostTitle</tr>
                    <tr>@row.Author</tr>
                    <tr>@row.DisplayDate</tr>
                    <tr>@Html.ActionLink("VIEW","Home", "Detail", new { id = row.PostId }, new { @class = "btn btn-warning" })</tr>
                }
            </tbody>
        </table>


    </div>
</div>




