@model SeaMonsterBlog.UI.Models.ByHashtagVM

@{
    ViewBag.Title = "ByHashtag";
    ViewBag.Categories = Model.Categories;
    ViewBag.StaticPosts = Model.StaticPosts;
    ViewBag.SearchString = Model.SearchString;
}

<h2><text>#</text>@Model.Hashtag.HashtagName</h2>

<div class="row">
    <div class="col-sm-12">
        @foreach (var blog in Model.Posts)
        {
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h3><strong>@blog.PostTitle</strong></h3>
                    <h5><strong>@blog.DisplayDate  |  <a href="~/Home/ByAuthor/@blog.Author">@blog.Author</a></strong></h5>
                    <h5>
                        Categories:
                        @foreach (var category in blog.SelectedCategories)
                        {
                            @Html.ActionLink((string)@category.CategoryTag, "ByCategory", "Home", new { id = category.CategoryID }, new { @class = "label label-default" })
                        }
                    </h5>
                </div>
                <div class="panel-body" style="height:300px; overflow:hidden">

                    @Html.Raw(blog.PostText)
                    <br />

                </div>
                <p>
                    @foreach (var hashtag in blog.Hashtags)
                    {
                        @Html.ActionLink("#" + (string)hashtag.HashtagName, "ByHashtag", "Home", new { id = hashtag.HashtagID }, new { @class = "label label-success" })
                    }
                </p>

            </div>


            @Html.ActionLink("Read More and Comment", "Detail", "Home", new { id = blog.PostId }, new { @class = "btn btn-warning" })

            <hr />
        }



    </div>
</div>