@model SeaMonsterBlog.UI.Models.DetailVM

@{
    ViewBag.Title = "Detail";
    ViewBag.Categories = Model.Categories;
}


@Html.HiddenFor(m => m.Post.PostId)
<div class="panel panel-success">
    <div class="panel-heading">
        <h3><strong>@Model.Post.PostTitle</strong></h3>
        <h5><strong>@Model.Post.DisplayDate  |  @Model.Post.Author</strong></h5>
    </div>
    <div class="panel-body">
        <p>
            categories listed here
            @Html.Raw(Model.Post.PostText)
            <br />
            list of hashtags at the bottom
        </p>
    </div>
</div>
<div class="col-sm-12">
    <h4><strong>Comments</strong></h4>
    @if (Model.Post.Comments != null)
    {
        foreach (var comment in Model.Post.Comments)
        {
            <p><strong>@comment.CommenterName |  @comment.CommentDate</strong></p>
        }
    }
</div>



@section Scripts
{
    <script>
        $(document).ready(function () {

            $(".comment-box").hide();

            $(".comment-button").click(function () {
                $(".comment-box").show();
            });

        });

    </script>

}


