@model SeaMonsterBlog.UI.Models.DetailVM

@{
    ViewBag.Title = "Detail";
    ViewBag.Categories = Model.Categories;
    ViewBag.StaticPosts = Model.StaticPosts;
    ViewBag.SearchString = Model.SearchString;
}

@using (Html.BeginForm("Detail", "Home", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Post.PostId)

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3><strong>@Model.Post.PostTitle</strong></h3>
            <h5><strong>@Model.Post.DisplayDate.Value.ToShortDateString()  | <a href="~/Home/ByAuthor/@Model.Post.Author">@Model.Post.Author</a></strong></h5>
        </div>
        <div class="panel-body">
            <p>
                categories listed here
                @Html.Raw(Model.Post.PostText)
                <br />
            </p>
            <p>
                @foreach (var hashtag in Model.Post.Hashtags)
                {
                    @Html.ActionLink("#" + (string)hashtag.HashtagName, "ByHashtag", "Home", new { id = hashtag.HashtagID }, new { @class = "label label-success" })
                }
            </p>

        </div>
    </div>
    <span>
        <a href="~/home/previous/@Model.Post.PostId">Previous</a>
    </span>
    <span style="float:right">
        <a href="~/home/next/@Model.Post.PostId" >Next</a> 
    </span>

    <div class="col-sm-12">
        <h4><strong>Comments</strong></h4>
        @if (Model.Post.Comments != null)
        {
            foreach (var comment in Model.Post.Comments)
            {
                <div id="c-div-@comment.CommentId">
                    <p style="padding-top:4px">
                        <strong>@comment.CommenterName |  @comment.CommentDate</strong>
                        @if (!comment.IsShown && (Request.IsAuthenticated && User.IsInRole("admin") || Request.IsAuthenticated && User.IsInRole("moderator")))
                        {
                            <i onclick="ApproveComment(@comment.CommentId)" class="fa fa-check-square-o icon-ch" id="c-approve-@comment.CommentId" aria-hidden="true" onmouseover="" style="color:green;padding-left:7px;cursor: pointer;"></i>
                            <i onclick="DeleteComment(@comment.CommentId)" id="c-delete-@comment.CommentId" class="fa fa-trash-o fa-lg" aria-hidden="true" onmouseover="" style="color:red;padding-left:7px;cursor: pointer;"></i>
                        }
                    </p>
                    <p>@comment.CommentText</p>
                    @if (comment.Replies.Any())
                    {
                    <div class="row">
                        <div class="col-md-11 col-md-offset-1">
                            <a id="comment-replies-@comment.CommentId" class="comment-replies" onclick="openReplies(@comment.CommentId)">View Replies or Reply</a>
                        </div>
                        <div class="col-md-11 col-md-offset-1 reply-box" id="comment-dropdown-@comment.CommentId" hidden>
                            @foreach (var reply in comment.Replies)
                            {
                                <div id="r-div-@reply.ReplyID">
                                    <p style="padding-top:4px">
                                        <strong>@reply.ReplyName | @reply.ReplyDate</strong>
                                        @if ((Request.IsAuthenticated && User.IsInRole("admin") || Request.IsAuthenticated && User.IsInRole("moderator")) && !reply.IsShown)
                                        {

                                                <i onclick="ApproveReply(@reply.ReplyID)" class="fa fa-check-square-o icon-ch" id="r-approve-@reply.ReplyID" aria-hidden="true" onmouseover="" style="color:green;padding-left:7px;cursor: pointer;"></i>
                                                <i onclick="DeleteReply(@reply.ReplyID)" class="fa fa-trash-o fa-lg" id="r-delete-@reply.ReplyID" aria-hidden="true" onmouseover="" style="color:red;padding-left:7px;cursor: pointer;"></i>

                                        }
                                    </p>
                                    <p>@reply.ReplyText</p>
                                </div>
                            }

                            @Html.Hidden("NewReply.CommentId", comment.CommentId)
                            <div class="form-group row">
                                <label class="control-label col-sm-2">Name</label>
                                <div class="col-sm-6">
                                    @Html.TextBoxFor(r => r.NewReply.ReplyName, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="control-label col-sm-2">New Reply</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(r => r.NewReply.ReplyText, new { @class = "form-control" })
                                    <button type="submit" class="btn btn-info">Submit Reply</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    }
                </div>
            }
                <h4 style="padding-top:15px"><strong>New Comment</strong></h4>
                <div class="form-group row">
                    <label class="control-label col-sm-2">Name</label>
                    <div class="col-sm-6">
                        @Html.TextBoxFor(m => m.NewComment.CommenterName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group row">
                    <label class="control-label col-sm-2">Comment</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.NewComment.CommentText, new { @class = "form-control" })
                        <button type="submit" class="btn btn-info">Submit Comment</button>
                    </div>
                </div>
        }
    </div>
}



@section Scripts
{
    <script>
        $(document).ready(function () {

        });

        function openReplies(commentId) {
            $("#comment-replies-" + commentId).hide();
            $(".reply-box").hide();
            $("#comment-dropdown-" + commentId).show();

        }

        function DeleteComment(commentId) {
            $.ajax({
                type: 'DELETE',
                url: 'http://localhost:51004/comment/' + commentId,
                success: function () {
                    $("#c-div-" + commentId).hide();
                }
            });
        }

        function DeleteReply(replyId) {
            $.ajax({
                type: 'DELETE',
                url: 'http://localhost:51004/reply/' + replyId,
                success: function () {
                    $("#r-div-" + replyId).hide();
                }
            });
        }

        function ApproveComment(commentId) {
            $.ajax({
                type: 'DELETE',
                url: 'http://localhost:51004/approveComment/' + commentId,
                success: function () {
                    $("#c-approve-" + commentId).hide();
                    $("#c-delete-" + commentId).hide()
                }
            });
        }

        function ApproveReply(replyId) {
            $.ajax({
                type: 'DELETE',
                url: 'http://localhost:51004/approveReply/' + replyId,
                success: function () {
                    $("#r-approve-" + replyId).hide();
                    $("#r-delete-" + replyId).hide()
                }
            });
        }
    </script>

}


